<a href="https://colab.research.google.com/github/unit9090/Colab_Note/blob/main/py04_iteration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# for 반복문

```
for 변수 in iterable_type:
    반복해서 실행할 코드 블록
```

* iterable_type: 반복 가능한 타입
    * range, list, tuple, dict, set, str, ...

* `range()` 함수:
    * `range(stop)`: 0 <= x < stop 범위의 1씩 증가하는 정수들을 차례로 반환.
    * `range(start, stop)`: start <= x < stop 범위의 1씩 증가하는 정수들을 차례로 반환.
    * `range(start, stop, step)`:
        * step > 0: start <= x < stop 범위의 step만큼씩 증가하는 정수들을 차례로 반환.
        * step < 0: start >= x > stop 범위의 step 만큼씩 감소하는 정수들을 차례로 반환.

In [1]:
for x in  range(5):     # 0 <= x < 5
    print(x)

0
1
2
3
4

In [2]:
for x in range(1, 6):       # 1 <= X < 6
    print(x)

1
2
3
4
5

In [3]:
for x in range(0, 11, 2):      # (0, 2, 4, 6, 8, 10)
    print(x)

0
2
4
6
8
10

In [7]:
for x in range(10, -1, -2):
    print(x)

10
8
6
4
2
0

# 중첩 반복문

```
for x in iterable1:
    for y in iterable2:
        코드 블록
```

구구단 2단부터 9단까지 출력

In [13]:
for x in range(2, 10):
    print('-' * 10 + f'{x}단' + '-' * 10)
    for y in range(1, 10):
        print(f'{x} X {y} = {x * y}')

----------2단----------
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
----------3단----------
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
----------4단----------
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
----------5단----------
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
----------6단----------
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
----------7단----------
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
----------8단----------
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
----------9단----------
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

문자열에서 사용 가능한 산술 연산자:

* 문자열 `+` 문자열: 문자열 이어붙이기(concatenate)
* 문자열 `*` 정수 OR 정수 `*` 문자열: 문자열 반복해서 복사하기

# break와 continue

* `break`: 반복(interation)을 종료. break가 포함된 가장 가까운 반복문을 빠져나옴.
* `continue`: 반복문 내부의 실행을 멈추고, 그 다음 interation을 계속해서 수행.

In [14]:
for x in range(5):
    if x == 2:
        break
    print(x)

0
1

In [15]:
for x in range(5):
    if x == 2:
        continue
    print(x)

0
1
3
4

다음과 같이 출력.

```
2 x 1 = 2
2 x 2 = 4
----------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
----------
...
----------
5 x 1 = 5
..
5 x 5 = 25
----------
```

In [20]:
for x in range(2, 6):
    for y in range(1, 10):
        if(x < y):
            break
        print(f'{x} X {y} = {x * y}')
    print('-' * 10)

2 X 1 = 2
2 X 2 = 4
----------
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
----------
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
----------
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
----------

In [21]:
for x in range(2, 6):
    for y in range(1, x + 1):
        print(f'{x} x {y} = {x + y}')
    print('-' * 10)

2 x 1 = 3
2 x 2 = 4
----------
3 x 1 = 4
3 x 2 = 5
3 x 3 = 6
----------
4 x 1 = 5
4 x 2 = 6
4 x 3 = 7
4 x 4 = 8
----------
5 x 1 = 6
5 x 2 = 7
5 x 3 = 8
5 x 4 = 9
5 x 5 = 10
----------

# while 반복문

```
[초기화 문장]
while 조건식:
    반복할 코드 블록
    [조건(변수)를 변경하는 문장]
```

다음과 같이 출력.

```
*
**
***
****
*****
```

In [25]:
n = 1
while n <= 5:
    print('*' * n)
    n += 1      # 파이썬은 ++, -- 연산자는 없음.

*
**
***
****
*****

1 이상 10 미만의 홀수들을 출력하는 코드를 while 문으로 작성.

In [30]:
n = 1
while n < 10:
    print(n)
    n += 2

1
3
5
7
9