<a href="https://colab.research.google.com/github/unit9090/Colab_Note/blob/main/py05_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# list

* 여러 개의 값들을 하나의 변수에 저장하기 위한 데이터 타입.
* element(원소, 요소): 리스트에 저장되는 각각의 값.
* index(인덱스): 리스트에서 원소가 저장된 위치
    * 리스트의 인덱스는 **0**부터 시작.
    * 리스트의 마지막 인덱스는 (원소 개수 - 1).
* 리스트는 원소들을 추가, 삭제, 변경할 수 있음.
    * `tuple`과 다른 점!

In [ ]:
# 숫자들을 저장하는 리스트
numbers = [1, 2, 3, 10, 20, 30]     # 6개의 원소들을 저장하고 있는 리스트
numbers

[1, 2, 3, 10, 20, 30]

# 인덱싱(indexing)

인덱스를 사용해서 리스트의 원소를 참조하는 방법.

In [ ]:
numbers[0]  # 리스트 numbers의 인덱스 0 위치의 원소

numbers[5]  # 리스트 numbers의 인덱스 5 위치의 원소

30

In [ ]:
numbers[-1] # 리스트에서 가장 마지막 원소

numbers[-2] # 리스트에서 마지막에서 2번째 원소

numbers[-6] # 리스트에서 첫번째 원소

1

# slicing

인덱스를 사용해서 리스트의 부분접합(리스트)를 잘라내는 방법.

`list[start:end]`

* start <= index < end 범위의 인덱스 위치의 원소들을 잘라냄.
* start를 생략한 경우에는 첫번째 원소부터 잘라냄.
    * `list[0:5]`과 `list[:5]`는 같은 결과.
* end를 생략한 경우에는 마지막 원소까지 잘라냄.
* 리스트를 slicing한 결과는 또다른 새로운 **리스트**이다.

In [ ]:
print(numbers)

print(numbers[1:4])     # 1 <= index < 4

print(numbers[3:6])     # 3 <= index < 6

print(numbers[3:])      # 3 <= index < list.length

print(numbers[:3])      # 0 <= index < 3, 리스트에서 앞에서 3개를 선택

numbers[-3:]        # 리스트에서 뒤에서 3개

[1, 2, 3, 10, 20, 30]
[2, 3, 10]
[10, 20, 30]
[10, 20, 30]
[1, 2, 3]

[10, 20, 30]

In [ ]:
print(numbers[0:1])        # slicing -> list

print(numbers[0])          # indexing -> 값(숫자)

[1]
1

# 문자열(str)

* 문자들의 **리스트**.
* 문자열은 인덱스를 사용할 수 있음.
* indexing, slicing 가능.

In [ ]:
message = '안녕하세요, 여러분!'     # 11개의 문자들로 이루어진 리스트.

print(message[0])      # 문자열에서 첫번째 문자

print(message[-1])     # 문자열에서 마지막 문자

print(message[10])     # 문자열에서 마지막 문자

안
!
!

In [ ]:
print(message[:3])         # 문자열에서 앞에서 3글자

print(message[-3:])        # 문자열에서 뒤에서 3글자

안녕하
러분!

In [ ]:
# 문자열 산술 연산: +, *
print('hello' + 'python')
print('hello' * 3)

hellopython
hellohellohello

# 리스트의 산술 연산

* `list + list`
* `list * int` 또는 `int * list`

In [ ]:
[1, 2, 3] + [4, 5, 6]   # concatenate

[1, 2, 3, 4, 5, 6]

In [ ]:
[1, 2, 3] * 3       # replicate

[1, 2, 3, 1, 2, 3, 1, 2, 3]

# list와 for 반복문

In [ ]:
for x in 'hello':
    print(x)

h
e
l
l
o

In [ ]:
numbers = [1, 10, 5, 100]
for x in numbers:
    print(x)

1
10
5
100

In [ ]:
# 인덱스와 값을 꺼내고 싶을 때
i = 0;
while i < len(numbers):
    print(i, ':', numbers[i])
    i += 1

print('-' * 10)

for x in range(len(numbers)):       # 0 <= x < len
    print(x, ':', numbers[x])

0 : 1
1 : 10
2 : 5
3 : 100
----------
0 : 1
1 : 10
2 : 5
3 : 100

In [ ]:
# 하지만 파이썬에선 다른 함수를 사용
# 파이썬에선 복수의 변수를 선언할 수 있고,
# enumerate를 사용하여 인덱스와 값을 함께 출력할 수 있음.
# key를 먼저 리턴하고, value를 리턴해준다.
for i, v in enumerate(numbers):
    print(i, ':', v)

0 : 1
1 : 10
2 : 5
3 : 100

In [ ]:
numbers1 = [1, 2, 3]
numbers2 = [10, 11, 12]
# numbers1과 numbers2의 같은 인덱스의 원소들끼리의 합을 원소로 갖는 리스트
# [11, 13, 15]

result = []
for i, v in enumerate(numbers1):
    result.append(v + numbers2[i])
print(result)

result1 = []
for x in range(len(numbers1)):
    result1.append(numbers1[x] + numbers2[x])
print(result1)

#----------------------------------------------------------
resultT = []        # 빈(empty) 리스트
for i in range(len(numbers1)):  # 0 <= i <len
    resultT.append(numbers1[i] + numbers2[i])
print(resultT)

[11, 13, 15]
[11, 13, 15]
[11, 13, 15]

In [ ]:
# zip: 같은 위치에 있는 것들끼리 묶어주는 것.
# 같은 길이를 가지고 있는 두 개의 값을 묶어주면 같은 인덱스에 있는 값들을 꺼내준다.

result = []
for x, y in zip(numbers1, numbers2):
    result.append(x + y)
print(result)

[11, 13, 15]

파이썬에서 난수를 만드는 방법:

In [5]:
import random   # random 모듈을 임포트

In [ ]:
# random 모듈의 random() 함수를 호출
# random 모듈 안에 들어가 있는 함수(모듈이름.모듈함수)
random.random()     # [0, 1) 범위(0 <= x < 1)

0.39562734939987043

In [ ]:
# random 모듈의 randrange() 함수를 호출
print(random.randrange(10))     # [0, 10) 범위의 정수 난수를 리턴.

print(random.randrange(1, 4))   # [1, 4) 범위의 정수 난수를 리턴.

print(random.randint(1, 10))    # [1, 10] 범위의 정수 난수를 리턴.

3
2
3

# Exercises

## Ex 1.

1. 빈 리스트를 생성.
2. 1 이상 10 이하의 정수 난수 5개를 저장.
3. 리스트의 모든 정수들의 합을 출력.
4. 리스트의 모든 정수들의 평균을 출력.

## Ex 2.

1. 빈 리스트(numbers)를 생성.
2. 10 이상, 100 미만의 정수 난수 10개를 numbers에 저장.
3. numbers에서 짝수들만 선택해서 evens 리스트를 만들고 출력.
4. numbers에서 홀수들만 선택해서 odds 리스트를 만들고 출력.

## Ex 3.

1. 빈 리스트 numbers를 만듦.
2. -10 이상 10 이하인 범위의 정수 난수 10개를 numbers에 저장.
3. numbers의 원소가 양수이면 True, 그렇지 않으면 False를 저장하는 is_positive 4. 리스트를 만들고 출력.

## Ex 4.

1. gender_codes 리스트에 0 또는 1을 랜덤하게 10개를 저장.
2. gender_codes의 값이 0이면 'Male', 그렇지 않으며 'Female'을 저장하는 genders 리스트를 만들고 출력.

## Ex 5.
1. numbers1: 100 미만의 정수 난수 10개를 저장하는 리스트.
2. numbers2: 100 미만의 정수 난수 10개를 저장하는 리스트.
3. multiplication: numbers1과 numbers2의 같은 인덱스에 있는 원소들끼리의 곱셈 결과를 저장하는 리스트.
4. subtraction: numbers1의 원소에서 같은 인덱스에 있는 numbers2의 원소를 뺀 값을 저장하는 리스트.
5. numbers1, numbers2, multiplication, subtraction를 출력.

In [6]:
# Ex 1
ex1 = []

# 변수가 사용되지 않으면 언더바(_)로 대체 가능
# for _ in range(5)
for x in range(5):
    # ex1.append(random.randrange(1, 11))
    ex1.append(random.randint(1, 10))
print(ex1)

total = 0
for x in ex1:
    total += x
# 파이썬은 sum이라는 함수가 따로 있음.
# total = sum(ex1)
# sum이란 함수가 있어서 변수 이름을 sum이라고 선언하면,
# 그 아래부턴 sum 함수를 사용하지 못함.

avg = total / len(ex1)

print(f'total = {total}, avg = {avg}')

[3, 2, 6, 4, 4]
total = 19, avg = 3.8

In [ ]:
# Ex 2
ex2 = []
for x in range(10):
    ex2.append(random.randrange(10, 100))
print(f'ex2 = {ex2}')

evens = []      # 짝수들을 저장할 빈 리스트
odds = []       # 홀수들을 저장할 빈 리스트
for x in ex2:       # 리스트 ex2의 원소들을 순서대로 반복하면서
    if x % 2:       # 리스트에서 찾은 값을 2로 나눈 나머지가 있으면(홀수이면)
        odds.append(x)
    else:
        evens.append(x)
print(f'odds: {odds}')
print(f'evens: {evens}')

[88, 85, 81, 54, 88, 25, 12, 58, 51, 87]
odds: [85, 81, 25, 51, 87]
evens: [88, 54, 88, 12, 58]

In [ ]:
# EX 3
ex3 = []
for x in range(10):
    ex3.append(random.randint(-10, 10))
    # ex3.append(random.randrange(-10, 11))
print(f'ex3 = {ex3}')

is_positive = []
for x in ex3:
    if x < 0:
        is_positive.append(False)
    else:
        is_positive.append(True)
print(f'is_positive = {is_positive}')

ex3 = [-2, 8, 0, 10, 5, -5, 4, 6, 9, 9]
is_positive = [False, True, True, True, True, False, True, True, True, True]

In [ ]:
# Ex 4
gender_codes = []
for x in range(10):
    gender_codes.append(random.randint(0, 1))
print(f'gender_codes = {gender_codes}')

gender = []
for x in gender_codes:
    if x:
        gender.append('Female')
    else:
        gender.append('Male')
print(f'gender = {gender}')

gender_codes = [0, 0, 1, 1, 0, 1, 0, 1, 0, 1]
gender = ['Male', 'Male', 'Female', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female']

In [ ]:
# Ex 5
numbers1 = []
numbers2 = []

for x in range(10):
    numbers1.append(random.randrange(100))
    numbers2.append(random.randrange(100))
print(f'numbers1 = {numbers1}')
print(f'numbers2 = {numbers2}')

multiplication = []
subtraction = []
for m1, m2 in zip(numbers1, numbers2):
    multiplication.append(m1 * m2)
    subtraction.append(m1 - m2)

print(f'multiplication = {multiplication}')
print(f'subtraction = {subtraction}')

numbers1 = [12, 91, 5, 16, 99, 14, 14, 76, 22, 24]
numbers2 = [25, 11, 56, 18, 32, 3, 98, 22, 26, 4]
multiplication = [300, 1001, 280, 288, 3168, 42, 1372, 1672, 572, 96]
subtraction = [-13, 80, -51, -2, 67, 11, -84, 54, -4, 20]

# List comprehension(리스트 내포)

1 ~ 10 정수들을 순서대로 리스트에 저장: [1, 2, 3, ... , 9, 10]

In [7]:
numbers = []

for x in range(1, 11):
    numbers.append(x)

numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
# List comprehension(리스트 내포) 활용
numbers = [x for x in range(1, 11)]
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [11]:
# result = [1, 4, 9, 16, .., 81, 100] 제곱근들을 저장하는 List comprehension
squares = [x ** 2 for x in range(1, 11)]
# squares = [x * x for x in range(1, 11)]
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [13]:
# [0, 10) 범위위 난수 10개를 저장하는 리스트
numbers = [random.randrange(10) for _ in range(10)]
numbers

[2, 6, 1, 4, 4, 3, 7, 5, 7, 4]

## Ex1 ~ Ex5 연습문제를 list comprehension을 사용하여 작성.

*   filtering:

    [value for x in iterable if condition]
*   mapping:

    [value if condition else value2 for x in iterable]

### EX1

In [25]:
# EX1
numbers = [random.randrange(1, 11) for _ in range(5)]
print(numbers)

total = sum(numbers)
avg = total / len(numbers)
print(f'total = {total}, avg = {avg}')

[3, 8, 6, 1, 3]
total = 21, avg = 4.2

### EX2

In [18]:
# EX2
numbers = [random.randrange(10, 100) for _ in range(10)]
print(numbers)

odds = [x for x in numbers if x % 2]
evens = [x for x in numbers if x % 2 == 0]
print(f'odds = {odds}')
print(f'evens = {evens}')

[42, 44, 29, 85, 97, 62, 37, 60, 48, 60]
odds = [29, 85, 97, 37]
evens = [42, 44, 62, 60, 48, 60]

### EX3

In [27]:
# EX3
numbers = [random.randrange(-10, 11) for _ in range(10)]
print(numbers)

# 삼항 연산자
# x = 1
# is_positive1 = True if x > 0 else False
# 결과값: True

is_positive = [True if x > 0 else False for x in numbers]
print(is_positive)

[-10, -6, 6, 7, 5, -10, -4, 0, 5, -3]
[False, False, True, True, True, False, False, False, True, False]

### EX4

In [28]:
# EX4
gender_codes = [random.randrange(0, 2) for _ in range(10)]
print(gender_codes)

genders = ['Male' if x == 0 else 'Female' for x in gender_codes]
print('genders =', genders)

[1, 1, 1, 0, 0, 1, 1, 1, 1, 1]
genders =  ['Female', 'Female', 'Female', 'Male', 'Male', 'Female', 'Female', 'Female', 'Female', 'Female']

### EX5

In [29]:
# EX5
numbers1 = [random.randrange(100) for _ in range(10)]
numbers2 = [random.randrange(100) for _ in range(10)]

print(f'numbers1 = {numbers1}')
print(f'numbers2 = {numbers2}')

multiplication = [x * y for x, y in zip(numbers1, numbers2)]
subtraction = [x - y for x, y in zip(numbers1, numbers2)]

print(f'multiplication = {multiplication}')
print(f'subtraction = {subtraction}')

numbers1 = [95, 0, 39, 47, 65, 65, 82, 66, 95, 64]
numbers2 = [28, 62, 33, 13, 23, 77, 72, 99, 73, 43]
multiplication = [2660, 0, 1287, 611, 1495, 5005, 5904, 6534, 6935, 2752]
subtraction = [67, -62, 6, 34, 42, -12, 10, -33, 22, 21]

### EX6 추가 문제

In [31]:
gender_code = [1, 2, 1, 2, 3]

# 1 -? 'M', 2 -> 'F', 3 -> 'Unknown' mapping

gender = ['M' if x == 1 else 'F' if x == 2 else 'Unknown'
            for x in gender_code]

# gender = ['M' if x == 1 else ('F' if x == 2 else 'Unknown')
#               for x in gender_codes]

print(f'gender = {gender}')

gender = ['M', 'F', 'M', 'F', 'Unknown']