<a href="https://colab.research.google.com/github/unit9090/Colab_Note/blob/main/py06_tuple_set_dict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# tuple(튜플)

* 하나의 변수에 여러 개의 값들을 저장하기 위한 자료 타입.
* 저장된 원소(아이템)들을 변경할 수 없는 리스트.
    * `append()`, `remove()`와 같은 원소를 변경하는 메서드(기능)은 제공하지 않음.
* 인덱스 기반 자료 타입
    * indexing, slicing
    * 음수 인덱스도 사용 가능

In [4]:
# 숫자들을 저장하는 튜플
numbers = (1, 2, 10, 20, 100, 200)
print(numbers)
type(numbers)

(1, 2, 10, 20, 100, 200)
<class 'tuple'>

indexing: 인덱스를 사용해서 원소 1개를 참조하는 방법

In [6]:
# 인덱스는 [](대괄호)를 사용한다.

# 튜플의 첫번째 원소
numbers[0]

# 튜플의 마지막 원소
numbers[-1]
numbers[len(numbers) - 1]

200

slicing: 자르기. 부분 집합.

In [8]:
# 튜플에서 첫 3개의 원소들을 잘라내기. [start, end) 범위.
numbers[:3]

# 튜플에서 마지막 3개의 원소들을 잘라내기.
numbers[-3:]

(20, 100, 200)

## decomposition(분해)

- indexing을 좀 더 같단하게 사용

In [12]:
# 번거로운 분해
odds = (1, 3, 5)
a = odds[0]
b = odds[1]
c = odds[2]
print(a, b, c)

1 3 5

In [13]:
# decomposition 사용
x, y = (1, 3)
print(x, y)

x, y, z = (1, 3, 5)
print(x, y, z)

1 3
1 3 5

## tuple & for

튜플은 비어있는 튜플을 만들어 원소를 넣을 수 없기 때문에 튜플에서는 comprehension을 사용할 수 없다.

In [14]:
for x in odds:
    print(x)

1
3
5

# 2차원 리스트/튜플

In [21]:
# 2차원
numbers = [
    [1, 2, 3],
    [4, 5, 6]
]
print(numbers)
print(len(numbers))        # 2차원 리스트 numbers의 원소 개수
print(numbers[0])     # 2차원 리스트의 1차원[0]의 원소

# 3차원
numbers = [
    [
        [1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]
    ],
    [
        ['A', 'B', 'C'],
        ['D', 'E', 'F'],
        ['G', 'H', 'I']
    ]
]
print(numbers)
print(len(numbers))        # 3차원 리스트 numbers의 원소 개수
print(numbers[0])          # 3차원 리스트의 2차원[0]의 원소
print(numbers[0][0])       # 3차원 리스트의 2차원[0]의 1차원[0]의 원소
print(numbers[0][0][0])    # 3차원 리스트의 2차원[0]의 1차원[0]의 원소[0]

[[1, 2, 3], [4, 5, 6]]
2
[1, 2, 3]
[[[1, 2, 3], [4, 5, 6], [7, 8, 9]], [['A', 'B', 'C'], ['D', 'E', 'F'], ['G', 'H', 'I']]]
2
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[1, 2, 3]
1

Ex.

1. 2 x 2모양의 [0, 10) 범위의 정수 난수들을 저장하는 2차원 리스트 array1을 만드세요.
1. 2 x 2모양의 [0, 10) 범위의 정수 난수들을 저장하는 2차원 리스트 array2을 만드세요.
1. array1과 array2의 같은 인덱스의 원소들끼리의 덧셈 결과를 저장하는 2차원 리스트 add를 만들고 출력하세요.

In [22]:
import random

In [32]:
'''
array1 = [
    [random.randrange(10), random.randrange(10)],
    [random.randrange(10), random.randrange(10)]
]
print(f'array1 = {array1}')

array2 = [
    [random.randrange(10), random.randrange(10)],
    [random.randrange(10), random.randrange(10)]
]
print(f'array2 = {array2}')

add = [
    [x + y for x, y in zip(array1[0], array2[0])],
    [x + y for x, y in zip(array1[1], array2[1])]
]
'''

array1 = [[], []]
array2 = [[], []]
for x in range(2):
    for y in range(2):
        array1[x].append(random.randrange(10))
        array2[x].append(random.randrange(10))
print(f'array1 = {array1}')
print(f'array2 = {array2}')

add = [[], []]
for i in range(2):
    add[i] = [x + y for x, y in zip(array1[i], array2[i])]
print(f'add = {add}')

array1 = [[8, 7], [5, 2]]
array2 = [[3, 3], [0, 2]]
add = [[11, 10], [5, 4]]

In [36]:
array1 = []     # 1차원 리스트들을 저장할 빈 리스트.
for _ in range(2):      # 2번 반복
    row = []            # 난수들을 저장할 빈 리스트.
    for _ in range(2):  # 2번 반복
        row.append(random.randrange(10))        # 난수를 row에 추가.
    array1.append(row)  # 난수 2개를 갖는 1차원 리스트를 array1에 추가

print(f'array1 = {array1}')

#------------

array2 = [[random.randrange(10) for _ in range(2)] for _ in range(2)]
print(f'array2 = {array2}')

add = []        # 1차원 배열들을 저장할 빈 배열
for row1, row2 in zip(array1, array2):
    print(row1, row2)
    temp = []   # 덧셈 결과를 저장할 빈 배열
    for x, y in zip(row1, row2):
        temp.append(x + y)
    add.append(temp)
add

array1 = [[5, 9], [7, 8]]
array2 = [[8, 9], [6, 5]]
[5, 9] [8, 9]
[7, 8] [6, 5]

[[13, 18], [13, 13]]

In [37]:
[[x + y for x, y in zip(row1, row2)]
 for row1, row2 in zip(array1, array2)]

[[13, 18], [13, 13]]

# Set(집합)

* 중복된 데이터를 허용하지 않음: `{1, 2, 2, 3, 3} = {1, 2, 3}`
* 인덱스 기반의 자료 구조가 아님. 인덱스가 없음.
    * 데이터의 저장 순서가 중요하지 않음: `{1, 2, 3} = {3, 1, 2}`
    * indexing, slicing 기능을 제공하지 않음.
    * for-in 구문에서 사용할 수 있는 iterable 타입.

In [38]:
s = {1, 2, 2, 3, 3}
s

{1, 2, 3}

In [39]:
type(s)

set

## Set의 기능(메서드)

In [49]:
s.add(5)       # set의 원소 추가
print(s)

s.add(5)
print(s)

{2, 3, 5}
{2, 3, 5}

In [44]:
s.remove(3)     # set의 원소를 삭제. 삭제할 원소를 아규먼트로 전달.
s

{1, 2, 5}

In [46]:
s.pop()         # set 원소 하나를 랜덤으로? 삭제하고 리턴
s

{5}

In [51]:
s1 = {1, 2, 3, 4}
s2 = {2, 3, 5, 6}

print(s1.union(s2))    # 합집합
print(s1.intersection(s2))     # 교집합
print(s1.difference(s2))      # 차집합 s1 - s2
print(s2.difference(s1))      # 차집합 s2 - s1

{1, 2, 3, 4, 5, 6}
{2, 3}
{1, 4}
{5, 6}

# dict

* dictionary(사전) 형식의 데이터 타입.
* 키(key)를 기반으로 값(value)를 저장하는 데이터 타입.
    * list, tuple: 인덱스 기반의 데이터 타입.
    * dict: key-value 기반의 데이터 타입.
    * dict에서 key의 역할은 1개 아이템의 값(value)를 찾기 위한 용도.

In [54]:
students = {1: '홍길동', 2: '허균', 3: '오쌤'}
print(students)

type(students)

{1: '홍길동', 2: '허균', 3: '오쌤'}

dict

`dict`에서 키를 사용하는 방법은 `list` 또는 `tuple`과 마찬가지로 인덱스 연산자(`[]`)를 사용함.

In [58]:
students[1]     # dict에서 key가 1인 아이템의 value
students

{1: '홍길동', 2: '허균', 3: '오쌤', 10: '홍길동'}

In [59]:
students[10] = '홍길동' # dict에 새로운 key-value 아이템을 추가 students
students

{1: '홍길동', 2: '허균', 3: '오쌤', 10: '홍길동'}

In [60]:
students[3] = 'scott'       # dict에서 key에 해당하는 value를 변경.
students

{1: '홍길동', 2: '허균', 3: 'scott', 10: '홍길동'}

In [62]:
students.pop(3)         # dict 해당하는 key의 아이템(key: value)을 삭제
students

{1: '홍길동', 2: '허균', 10: '홍길동'}

In [64]:
book = {
    'title': '점프 투 파이썬',
    'authors': ['박응용', '웨스 매키니'],
    'isbn': 123456789
}
book

{'title': '점프 투 파이썬', 'authors': ['박응용', '웨스 매키니'], 'isbn': 123456789}

In [66]:
book['authors'][0]

'박응용'

## dict & for

In [69]:
contact = {
    'no': 1,
    'name': '오쌤',
    'phones': ['010-0000-0000', '02-0000-0000'],
    'emails': {
        'company': 'jake@itwill.co.kr',
        'personal': 'jake@naver.com'
    }
}
contact

{'no': 1,
 'name': '오쌤',
 'phones': ['010-0000-0000', '02-0000-0000'],
 'emails': {'company': 'jake@itwill.co.kr', 'personal': 'jake@naver.com'}}

In [70]:
for k in contact:
    print(k)

no
name
phones
emails

for-in 구문에서 dict를 사용하면 키(key)를 iteration 함!

In [73]:
for k in contact:
    print(k, ':', contact[k])

no : 1
name : 오쌤
phones : ['010-0000-0000', '02-0000-0000']
emails : {'company': 'jake@itwill.co.kr', 'personal': 'jake@naver.com'}

In [77]:
contact.keys()      # dict의 key들의 리스트를 리턴.
contact.values()    # dict의 value들의 리스트를 리턴.
contact.items()     # dict에서 (key, value) 튜플들의 리스트를 리턴.

dict_items([('no', 1), ('name', '오쌤'), ('phones', ['010-0000-0000', '02-0000-0000']), ('emails', {'company': 'jake@itwill.co.kr', 'personal': 'jake@naver.com'})])

In [78]:
for k, v in contact.items():
    print(k, v)

no 1
name 오쌤
phones ['010-0000-0000', '02-0000-0000']
emails {'company': 'jake@itwill.co.kr', 'personal': 'jake@naver.com'}

## Dictionary Comprehension

In [79]:
emp_no = [1001, 1002, 2001, 2002]       # 직원 번호
emp_name = ['King', 'Scott', 'Allen', 'Tiger']      # 직원 이름

In [83]:
# emp_no를 key로 하고 emp_name을 value로 dict를 만들고 출력
emp = {no : name for no, name in zip(emp_no, emp_name)}
emp

{1001: 'King', 1002: 'Scott', 2001: 'Allen', 2002: 'Tiger'}

In [82]:
# key-value를 저장할 빈 dict
emp = {}
emp = dict()    # 비어있는 dict를 만들겠다는 생성자

# 리스트의 원소 개수만큼 반복
for no, name in zip(emp_no, emp_name):
    # dict에 key-value 아이템을 저장
    emp[no] = name

emp

{1001: 'King', 1002: 'Scott', 2001: 'Allen', 2002: 'Tiger'}

리스트 strings의 문자열을 키로 하고, 그 문자열의 길이를 값으로 하는 dict를 만들고 출력

In [87]:
strings = ['hello', 'java', 'sql', 'python', 'javascript']

{'hello': 5, 'java': 4, 'sql': 3, 'python': 6, 'javascript': 10}

In [89]:
string_dict = {s : len(s) for s in strings}
string_dict

{'hello': 5, 'java': 4, 'sql': 3, 'python': 6, 'javascript': 10}

In [88]:
string_lengths = dict() # 빈 dict
for s in strings:
    string_lengths[s] = len(s)      # 문자열(key)-길이(value) 아이템을 dict에 추가
string_lengths

{'hello': 5, 'java': 4, 'sql': 3, 'python': 6, 'javascript': 10}