<a href="https://colab.research.google.com/github/unit9090/Colab_Note/blob/main/py07_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Function(함수)

* function(함수): 기능을 수행하는 코드 블록.
* argument: 함수를 호출하는 곳에서 함수에게 전달하는 값(들).
* parameter: argument를 저장하기 위해서 함수 선언부에서 선언하는 지역 변수.
* return value: 함수가 기능의 수행 결과로 리턴하는 값.
    * return value가 있는 함수
    * return value가 없는 함수
* 파이썬 함수 정의 방법:
    ```
    def function_name([param, ...]):
        [""" 문서화 주석 - 함수 기능 설명, 파라미터 설명, 리턴 값 설명 """]
        함수 기능 구현
        [return 값]
    ```
* return value가 없는 경우에,
    * return 문장을 생략.
    * return None 명시할 수도 있음.

In [1]:
# 함수
def subtract(x, y):     # 함수 정의
    """ 2개의 숫자 x, y를 전달받아서 x - y 결과를 리턴하는 함수. """
    return x - y

# 실행해야지 함수를 사용할 수 있음

In [2]:
result = subtract(1, 2)     # 함수 실행
result

-1

In [3]:
def repeat_message(message, n):
    """ 문자열(message)과 양의 정수(n)을 전달받아서, message를 n번 출력하는 함수.
    """
    for _ in range(n):
        print(message)

    return None
    # 리턴 값이 없으면 보통 return 문을 생략하지만, return None으로 명시하기도 함.

In [4]:
repeat_message('안녕하세요', 3)

안녕하세요
안녕하세요
안녕하세요

## Ex 1.

* 함수 이름: make_list
* 기능: start 이상 end 미만의 정수 난수 n개를 갖는 리스트를 반환하는 함수.

In [5]:
import random

In [6]:
def make_list(start, end, n):
    '''start 이상 end 미만의 정수 난수 n개를 갖는 리스트를 반환하는 함수.'''

    return [random.randrange(start, end) for x in range(n)]

## Ex 2.

* 함수 이름: calc_sum
* 기능: 숫자들의 리스트를 전달받아서, 리스트의 모든 원소들의 합을 리턴하는 함수.

In [7]:
def calc_sum(list):
    '''숫자들의 리스트를 전달받아서, 리스트의 모든 원소들의 합을 리턴하는 함수.'''

    return sum(list)

In [ ]:
del sum     # 메모리에 있는 변수값을 강제로 지움.

## Ex 3.

* 함수 이름: calc_mean
* 기능: 숫자들의 리스트를 전달받아서, 리스트의 원소들의 평균을 리턴하는 함수.

In [8]:
def calc_mean(list):
    '''숫자들의 리스트를 전달받아서, 리스트의 원소들의 평균을 리턴하는 함수.'''

    return sum(list) / len(list)

## Ex 4.

* 함수 이름: calc_var
* 기능: 숫자들의 리스트를 전달받아서, 리스트의 원소들의 분산(variance)을 리턴하는 함수.
    * 분산 = (값 - 평균)**2 들의 평균

In [9]:
def calc_var(list):
    '''숫자들의 리스트를 전달받아서, 리스트의 원소들의 분산(variance)을 리턴하는 함수.'''
    avg = calc_mean(list)
    return calc_mean([(x - avg) ** 2 for x in list])

In [10]:
numbers = make_list(0, 20, 5)
print(f'numbers = {numbers}')
print(f'calc_sum = {calc_sum(numbers)}')
print(f'calc_mean = {calc_mean(numbers)}')
print(f'calc_var = {calc_var(numbers)}')

numbers = [12, 3, 7, 10, 17]
calc_sum = 49
calc_mean = 9.8
calc_var = 22.16

In [18]:
scores1 = [3, 4, 5, 6, 7]
scores2 = [0, 1, 5, 9, 10]
mean1 = calc_mean(scores1)
mean2 = calc_mean(scores2)

print(f'mean1 = {mean1}')
print(f'mean2 = {mean2}')

mean1 = 5.0
mean2 = 5.0

In [19]:
print(calc_var(scores1))
print(calc_var(scores2))

2.0
16.4

In [24]:
# 로또 번호
def make_lotto_list():
    lottos = []
    for x in range(5):
        # 중복 제거를 위해 Set 사용
        lotto = set()
        count = 0
        while True:
            count += 1
            lotto.add(random.randrange(1, 46))
            if len(lotto) == 6:
                print(f'{x}번째 {count}만큼 루프')
                break
        lottos.append(lotto)
    return lottos

In [25]:
make_lotto_list()

0번째 7만큼 루프
1번째 6만큼 루프
2번째 10만큼 루프
3번째 6만큼 루프
4번째 6만큼 루프

[{12, 22, 26, 27, 34, 35},
 {15, 20, 23, 28, 41, 44},
 {4, 13, 24, 32, 34, 42},
 {23, 30, 32, 38, 41, 44},
 {17, 22, 23, 27, 28, 30}]