<a href="https://colab.research.google.com/github/unit9090/Colab_Note/blob/main/py08_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1급 객체(first-class object)로서의 함수

* 함수는 변수에 할당할 수 있음.
* 함수의 파라미터에 아규먼트로 다른 함수를 전달할 수 있음.
    * 함수는 아규먼트가 될 수 있음.
* 함수는 다른 함수의 리턴 값이 될 수 있음.
* 함수 내부에서 다른 함수를 정의할 수 있음.

## 함수를 변수에 할당

In [1]:
def twice(x):
    return 2 * x

In [2]:
result = twice(100)     # 함수 호출 결과(리턴 값)을 변수에 저장.
result

200

In [4]:
double = twice      # 함수(객체)를 변수에 저장.
double

In [5]:
double(12)

24

## 함수를 아규먼트로 사용

In [6]:
def calculate(x, y, fn):
    result = fn(x, y)
    return result

In [7]:
def plus(x, y):
    return x + y

In [9]:
calculate(1, 2, plus)

3

In [10]:
def minus(x, y):
    return x - y

In [11]:
calculate(1, 2, minus)

-1

## 내부 함수, 함수 리턴

In [14]:
def make_increment(n):  # 외부 함수
    def add_n(x):       # 내부 함수. 지역 함수.
        return x + n    # 내부 함수는 외부 함수의 지역 변수(파라미터 포함)들을 사용할 수 있음.

    return add_n

In [15]:
increase_by_2 = make_increment(2)
increase_by_2

In [16]:
increase_by_2(100)

102

In [17]:
increase_by_10 = make_increment(10)
increase_by_10(100)

110

In [18]:
make_increment(5)(100)

105

# Lambda expression(람다 표현식)

```
lambda param1, param2, ... : expression
```

* 이름이 없는 함수 표기법
* 함수 이름 없이 함수의 파라미터 선언과 반환 값 또는 반환 식으로만 함수를 정의하는 방법.
* 파이썬은 2줄 이상의 문장이 포함된 람다 표현식 문법을 제공하지 않음.

In [20]:
minus = lambda x, y : x - y
minus

In [21]:
minus(1, 2)

-1

In [22]:
calculate(2, 3, lambda x, y : x * y)

6

In [23]:
calculate(2, 3, lambda x, y : x / y)

0.6666666666666666

Ex1. calculate 함수에 2개의 숫자 중에서 더 큰 수를 리턴하는 람다 표현식을 전달

In [28]:
calculate(3, 5, lambda x, y : x if x > y else y)

5

Ex 2. calculate 함수에, 첫번째 아규먼트가 크면 True 그렇지 않으면 False를 리턴하는 람다 표현식을 전달

In [30]:
calculate(5, 22, lambda x, y : True if x > y else False)
calculate(5, 22, lambda x, y : x > y)

False

## filter 함수

조건에 맞는 원소들만 선택.

In [45]:
def my_filter(iterable, fn):
    '''
    리스트 iterable의 원소들 중에서 함수 fn의 호출 결과 값이 True인 원소들로만 이루어진 리스트를 리턴.

    Param iterable: 리스트
    Param fn: 아규먼트가 1개이고, True/False를 리턴하는 함수
    '''

    return [x for x in iterable if fn(x)]

In [46]:
def teacher_filter(iterable, fn):

    return [x for x in iterable if fn(x)]

    result = []     # 필터링된 원소들을 저장할 빈 리스트
    for x in iterable:      # 리스트의 원소들을 순서대로 반복하면서,
        if fn(x):           # 그 원소를 함수에게 전달했을 때 True를 리턴하면
            # 필터링 조건을 만족하면
            result.append(x)    # 결과 리스트에 필터링된 원소를 추가
    return result       # 필터링된 결과를 가지고 있는 리스트를 리턴.

In [56]:
num_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
ex_1 = my_filter(num_list, lambda x : x % 2 == 0)
print(ex_1)
ex_2 = my_filter(num_list, lambda x : x % 5 == 0)
print(ex_2)

numbers = [1, -2, 3, 4, -5, -6, 7]
teacher_filter(numbers, lambda x : x > 0)

[2, 4, 6, 8, 10]
[5, 10]

[1, 3, 4, 7]

In [48]:
strings = ['python', 'java', 'javascript', 'sql']

# my_filter 함수를 사용해서 strings에서 5글자 이상인 문자열들만 필터링
my_filter(strings, lambda x : len(x) >= 5)

['python', 'javascript']

## map 함수

원소들을 규칙에 따라서 다른 값으로 변환.

In [50]:
def my_mapper(iterable, fn):
    '''
    리스트 iterable의 원소들을 함수 fn의 리턴 값으로 변환한 리스트를 리턴.

    Param iterable: 리스트.
    Param fn: 아규먼트가 1개이고 리턴 값이 있는 함수.
    '''

    return [fn(x) for x in iterable]

    result = []
    for x in iterable:
        result.append(fn(x))
    return result

In [55]:
# numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

ex1 = my_mapper(numbers, lambda x : x ** 2)
print(ex1)

ex2 = my_mapper(strings, lambda x : 'a' in x)
print(ex2)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[False, True, True, False]

In [60]:
# 리스트 numbers의 원소들의 제곱으로 이루어진 리스트
my_mapper(numbers, lambda x : x ** 2)

[1, 4, 9, 16, 25, 36, 49]

In [58]:
# 리스트 numbers의 원소가 짝수이면 'even', 홀수이면 'odd'를 저장하는 리스트
my_mapper(numbers, lambda x : 'odd' if x % 2 else 'even')

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [61]:
# strings가 가지고 있는 문자열의 길이들로 이루어진 list
my_mapper(strings, lambda x : len(x))

[6, 4, 10, 3]

In [64]:
# strings의 문자열들을 모두 대문자로 변환한 리스트
my_mapper(strings, lambda x : x.upper())    # 소문자 lower()

['PYTHON', 'JAVA', 'JAVASCRIPT', 'SQL']