<a href="https://colab.research.google.com/github/unit9090/Colab_Note/blob/main/py09_OOP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 객체 지향 프로그래밍(OOP: Object-Oriented Programing)

In [36]:
class Student:
    # 생성자 함수: 생성자를 호출하면 파이썬 인터프리터에 의해서 자동으로 호출되는 메서드.
    # 클래스 안에서 def로 생성자를 만들 때, 첫 파라미터는 self이다.
    def __init__(self, no, name, python, java, javascript):
            self.no = no
            self.name = name
            self.python = python
            self.java = java
            self.javascript = javascript

    # 메서드
    def get_total(self):
        # self 생략 불가
        # 파이썬의 메서드는 멤버들을 접근할 때 반드시 self 키워드를 사용해야 함.
        return self.python + self.java + self.javascript

    def get_mean(self):
        return self.get_total() / 3

    def print_info(self):
        print(f'Student(번호 = {self.no}, 이름 = {self.name}, python = {self.python}, java = {self.java}, javascript = {self.javascript})')

In [37]:
# Student 타입의 객체 생성
student1 = Student(1, '홍길동', 100, 90, 50)    # 생성자 호출: 생성자 이름-클래스 이름, new 키워드를 사용하지 않음.

In [38]:
print(student1)     # 객체 student1을 문자열로 출력

<__main__.Student object at 0x7f5d5d346200>

In [39]:
student1            # 객체 student1의 식(expression)을 출력

In [40]:
student1.no

1

In [41]:
student1.name

'홍길동'

In [42]:
# 파이썬 인터프리터가 보내는 argument는 없지만 self를 넣어줌.
# 그래서 parameter를 받을 수 있음.
student1.get_total()

240

In [43]:
student1.get_mean()

80.0

In [44]:
student1.print_info()

Student(번호 = 1, 이름 = 홍길동, python = 100, java = 90, javascript = 50)

In [45]:
import math
# math 모듈을 임포트 -> math.sqrt(): 루트

* class: Point
    * 2차원 평면의 점의 좌표 (x, y)를 표현하는 클래스
* 생성자 함수: x, y를 초기화. x, y의 기본값은 0.
* 메서드
    * move: 점의 좌표를 원래 위치에서 dx, dy만큼 이동시키는 메서드
    * distance: 현재 점의 위치에서 다른 점까지의 거리를 계산해서 리턴하는 메서드.
        * `sqrt((x1 - x2) ** 2 + (y1 - y2) ** 2)`
        (LaTex로 수식 표현 가능)

In [47]:
class Point:

    def __init__(self, x = 0, y = 0):
        self.x = x
        self.y = y

    def move(self, dx, dy):
        self.x += dx
        self.y += dy

    def distance(self, p):
        return math.sqrt((self.x - p.x) ** 2 + (self.y - p.y) ** 2)

    def print_point(self):
        print(f'x = {self.x}, y = {self.y}')

In [54]:
point1 = Point(2, 5)
point1.print_point()
point1.move(2, -1)
point1.print_point()

point2 = Point(1, 1)
print(point1.distance(point2))

point3 = Point()
point3.print_point()

x = 2, y = 5
x = 4, y = 4
4.242640687119285
x = 0, y = 0

In [57]:
pt1 = Point()
pt1.move(1, 1)

pt2 = Point(1, 2)
pt1.distance(pt2)

1.0

# magic method

모든 클래스가 같은 이름으로 가지고 있는 특별한 메소드.

특별한 경우에 파이썬 인터프리터에 의해서 호출되는 메서드.

* `__init__()`:
    * 생성자를 호출하면 자동으로 호출되는 메서드.
    * 인스턴스의 필드(프로퍼티)들을 선언하고 초기화하는 메서드.

* `__str__()`:
    * `print()` 함수의 아규먼트 객체일 때 자동으로 호출되는 메서드.
    * 문자열을 리턴하는 메서드.
* `__repr__()`:
    * representation의 약자로 만들어진 메서드.
    * 식(expression)을 출력할 때 자동으로 호출되는 메서드.
    * `print()` 함수의 동작 방식:
        * 객체를 출력하기 위해서, 그 객체의 `__str__()` 메서드를 호출함.
        * `__str__()` 메서드가 없는 경우에는, `__repr__()` 메서드를 호출함.
        * `__str__()` 메서드와 `__repr__()` 메서드가 모두 없는 경우에는, 기본 문자열 (... object at 0x...)로 출력.

In [68]:
class T:
    '''
    # print만 class T instance를 출력
    def __str__(self):
        return 'class T instance'
    '''

    # print도 representation도 T를 출력
    def __repr__(self):
        return 'T'

In [69]:
t = T()     # 생성자 호출 -> __init__() 메서드 호출

In [70]:
print(t)    # __str__() 메서드 자동 호출

T

In [71]:
t           # __repr__() 메서드 자동 호출

T

* `__eq__()`:
    * equal
    * `==` 연산자를 사용했을 때 자동으로 호출되는 메서드.
    * 두 객체가 같은 지(True) 다른 지(False)를 리턴.

In [73]:
list1 = [1, 2, 3]
list2 = [1, 2, 3]
list1 == list2      # list 클래스가 __eq__ 메서드를 구현하고 있기 때문에.

True

In [81]:
class Number:

    def __init__(self, n):
        self.n = n

    def __repr__(self):
        return str(self.n)

    def __eq__(self, other):
        return self.n == other.n

In [82]:
n1 = Number(1)
n1

1

In [84]:
n2 = Number(1)
n2

1

In [85]:
n1 == n2    # n1.__eq__(n2)

True

# Exercise

* class Score
    * 프로퍼티: korean, math, science (int 타입)
    * 메서드: `__init__`, `__repr__`, `__eq__`,  `get_total`, `get_mean`

* class Studnet
    * 프로퍼티: no(int), name(str), score(Score)
    * 메서드: `__init__`, `__repr__`

In [110]:
class Score:

    def __init__(self, korean, math, science):
        self.korean = korean
        self.math = math
        self.science = science

    def __repr__(self):
        return f'Score(korean = {self.korean}, math = {self.math}, science = {self.science})'

    def __eq__(self, s):
        return self.korean == s.korean and \
                self.math == s.math and \
                self.science == s.science

        # return self.korean == s.korean and self.math == s.math and self.science == s.science

    def get_total(self):
        return self.korean + self.math + self.science

    def get_mean(self):
        return self.get_total() / 3

In [111]:
class Student:
    def __init__(self, no, name, score):
        self.no = no
        self.name = name
        self.score = score

    def __repr__(self):
        return f'Studnet(no = {self.no}, name = {self.name}, score = {self.score})'

In [112]:
score1 = Score(100, 20, 30)
score1

Score(korean = 100, math = 20, science = 30)

In [113]:
score2 = Score(40, 40, 100)
score2

Score(korean = 40, math = 40, science = 100)

In [114]:
score3 = Score(100, 20, 30)
score3

Score(korean = 100, math = 20, science = 30)

In [115]:
print(score1 == score2)
print(score1 == score3)

False
True

In [116]:
print('score1 total =', score1.get_total())
print('score1 mean =',score1.get_mean())

print('score2 total =', score2.get_total())
print('score2 mean =',score2.get_mean())

print('score3 total =', score3.get_total())
print('score3 mean =',score3.get_mean())

score1 total = 150
score1 mean = 50.0
score2 total = 180
score2 mean = 60.0
score3 total = 150
score3 mean = 50.0

In [120]:
student1 = Student(1, '홍길동', score1)
student2 = Student(2, '김길동', score2)
student3 = Student(3, '이길동', score3)
student4 = Student(4, '오길동', Score(1, 2, 3))

print(student1)
print(student2)
print(student3)
print(student4)
print(student1.score == student2.score)

Studnet(no = 1, name = 홍길동, score = Score(korean = 100, math = 20, science = 30))
Studnet(no = 2, name = 김길동, score = Score(korean = 40, math = 40, science = 100))
Studnet(no = 3, name = 이길동, score = Score(korean = 100, math = 20, science = 30))
Studnet(no = 4, name = 오길동, score = Score(korean = 1, math = 2, science = 3))
False

# 상속(Inheritance)

* super class(상위 클래스), parent class(부모 클래스), base class(기본 클래스)
* sub class(하위 클래스), child class(자식 클래스), derived class(유도 클래스)
* 상속: 상위 클래스의 속성(데이터)들과 기능(메서드)들을 하위 클래스에서 재상용하는 것.
* 일반적으로 **IS-A** 관계가 성립하는 객체들을 상속으로 사용해서 구현함.
    * 학생은 사람이다.(Student IS A Person)

In [121]:
class Person:
    def __init__(self, name, age = 0):
        self.name = name
        self.age = age

    def hello(self):
        print(f'안녕하세요. 저는 {self.name}입니다. 나이는 {self.age}살 입니다.')

In [122]:
gildong = Person('홍길동')
gildong.hello()

안녕하세요. 저는 홍길동입니다. 나이는 0살 입니다.

In [128]:
# Person을 상속하는 Student 클래스 정의
class Student(Person):
    # __init__()을 만들지 않은 경우, 부모의 __init__()을 상속받는다.

    # 생성자 method override
    def __init__(self, name, age = 0, school = 'Test'):
        # 하위 클래스에서 상위 클래스의 생성자 함수를 호출:
        super().__init__(name, age)
        # 하위 클래스에 추가된 필드
        self.school = school

    # hello method override
    def hello(self):
        super().hello()
        print(f'학교는 {self.school}입니다.')

In [129]:
stu = Student(name = '오쌤', age = 16, school = '아이티윌')
stu.hello()

안녕하세요. 저는 오쌤입니다. 나이는 16살 입니다.
학교는 아이티윌입니다.

**Method Override**

* 상위 클래스의 메서드를 하위 클래스에서 재정의하는 것.
    * **파이썬**에서는 메서드의 이름만 같으면 (파라미터 타입/개수와 상관 없이) 메서드가 재정의됨.
        * 파이썬은 같은 이름으로 2개 이상의 메서드(함수)를 가질 수 없음 - overloading은 제공하지 않음.
    * **자바**에서는 메서드 이름, 파라미터 타입/개수/순서가 모두 동일한 경우에 메서드가 재정의됨.
        * 파라미터가 다르면 같은 이름의 메서드가 2개 이상 있을 수 있음 - overloading
* 하위 클래스에서 재정의(overrid)된 상위 클래스의 메서드를 명시적으로 호출하기 위해서는 `super().method_name(...)`의 형식으로 호출함.

In [130]:
def a():
    print('a')

In [131]:
def a(msg):
    print(msg)

In [133]:
a('test')

test

파이썬은 함수(메서드) 오버로딩을 제공하지 않음.

파라미터가 다르다고 해서 같은 이름으로 함수(메서드)를 정의할 수 없음.

같은 이름으로 함수를 정의하면, 가장 마지막에서 정의한 함수만 남음.

파이썬은 함수(메서드) 오버로딩 대신에, default argument를 이용하면, 같은 이름의 함수를 여러가지 방법으로 호출할 수 있음.

In [134]:
def a(msg = 'a'):
    print(msg)

In [135]:
a()
a('TEST')

a
TEST