<a href="https://colab.research.google.com/github/unit9090/Colab_Note/blob/main/py10_try.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 오류(Error) 처리

* 오류가 발생한 위치와 원인을 파악해서 오류가 발생하지 않도록 코드 수정.
* 오류가 발생하더라도 프로그램이 비정상적으로 종료되지 않고 계속 실행되도록 처리 --> try 구문
    * Java는 반드시 try-catch 구문을 사용해야만 하는 Exception 종료들이 있음.
        * NullPointerException: try-catch가 필수는 아님.
        * IOException, SQLException, ...: try-catch가 필수.
    * Python은 모든 오류 처리에서 try-except가 필수는 아님.

**Python try-except 구문**

```
try:
    (1) 실행할 코드 블록
except [에러 클래스 이름 [as 별명]]:
    (2) 에러가 발생했을 때 실행할 코드 블록
[else:
    (3) 에러가 발생하지 않았을 때 실행할 코드 블록]
[finally:
    (4) try 블록 실행 중에 에러 발생 여부와 상관 없이 항상 실행할 코드 블록]
```

* 에러가 발생하지 않는 경우: (1) -> (3) -> (4)
* 에러가 발생한 경우: (1) -> (2) -> (4)
* except 구문에서 에러 클래스의 이름을 생략하면, 모든 종류의 에러를 잡아서 처리할 수 있음.
* 특정 종류의 에러만 처리하고자 할 때는, except 구문에서 에러 클래스 이름을 명시.

In [6]:
try:
    x = int(input('정수 입력>>> '))
    print(x)
except:
    # except ValueError as v:
    print('정수로 입력해야 합니다.')

정수 입력>>> eio
정수로 입력해야 합니다.

In [8]:
try:
    x = int(input('정수 입력>>> '))     #1
except ValueError as e:
    print(e)    # 2
else:
    print(f'x = {x}')   # 3
finally:
    print('=== end ===')    # 4

정수 입력>>> 123
x = 123
=== end ===

## Ex 1.

정수 1개를 입력받고, 입력받은 정수를 출력하세요.

정수로 변환할 수 없는 문자열이 입력된 경우에는 적절한 오류 메시지를 출력한 후 다시 입력을 받아야 함.

In [10]:
loop = True
while loop:
    try:
        x = int(input('정수를 입력하세요. >>> '))
    except:
        print('정수를 입력해주세요.')
    else:
        print(f'x = {x}')
        loop = False

정수를 입력하세요. >>> d
정수를 입력해주세요.
정수를 입력하세요. >>> dkd
정수를 입력해주세요.
정수를 입력하세요. >>> ghg
정수를 입력해주세요.
정수를 입력하세요. >>> dkd
정수를 입력해주세요.
정수를 입력하세요. >>> 9
x = 9

In [21]:
while True:     # 무한 반복문 - 정수를 입력받았을 때 출력하고 반복문 종료
    try:
        n = int(input('정수 입력>>> '))
        print(f'n = {n}')
        break
    except:
        print('입력한 값은 정수가 아닙니다.')

정수 입력>>> ㅇ\
입력한 값은 정수가 아닙니다.
정수 입력>>> ㅎㄷㅇ
입력한 값은 정수가 아닙니다.
정수 입력>>> 65
n = 65

## Ex 2. 단어 개수 세기

리스트 words가 가지고 있는 단어들을 key로 하고, 그 단어가 리스트에 나오는 횟수를 값으로 하는 dict를 생성하고 출력하세요.

In [12]:
words = ['java', 'python', 'javascript', 'python', 'sql', 'java', 'python']
#> 결과: {'java': 2, 'python': 3, 'javascript': 1, 'sql': 1}

In [19]:
from collections import Counter

counter = Counter(words)
dict(counter)

{'java': 2, 'python': 3, 'javascript': 1, 'sql': 1}

In [14]:
word_dict = {x: words.count(x) for x in words}
word_dict

{'java': 2, 'python': 3, 'javascript': 1, 'sql': 1}

In [20]:
word_count = {}
for x in words:
    try:
        word_count[x] += 1
    except:
        word_count[x] = 1
word_count

{'java': 2, 'python': 3, 'javascript': 1, 'sql': 1}

In [23]:
teacher_count = {}  # 단어/단어 빈도수를 저장할 빈 dict
for w in words:     # 리스트 words에서 단어를 순서대로 꺼내서 반복하면서
    if w in teacher_count:  # 단어가 dict의 키(key)로 존재하면
        teacher_count[w] += 1
    else:
        teacher_count[w] = 1

teacher_count

{'java': 2, 'python': 3, 'javascript': 1, 'sql': 1}

In [24]:
# collections 모듈에서 defaultdict 함수를 임포트
# form m(modul) import f(fuction)
from collections import defaultdict

In [26]:
word_count2 = defaultdict(int)
for w in words:
    word_count2[w] += 1

print(word_count2)
print(dict(word_count2))

defaultdict(<class 'int'>, {'java': 2, 'python': 3, 'javascript': 1, 'sql': 1})
{'java': 2, 'python': 3, 'javascript': 1, 'sql': 1}